.root {
  padding: 10px 27px;
  border: 2px var(--var-green) solid;
  background-color: var(--var-bg);
  border-radius: 20px;
  width: 100%;
  font-size: 20px;
  color: var(--var-text);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  transition:
    background-color 0.8s ease,
    border-color 0.8s ease;

  &:hover {
    background-color: var(--var-green);
    border-color: var(--var-text);
  }
}
